<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/iview/iview-3.1.0/styles/iview.css" />
    <script src="../../../assets/vue/vue-2.5.17.min.js"></script>
    <script src="../../../assets/iview/iview-3.1.0/iview.min.js"></script>
</head>

<body>
    <div id="app">
        <div style="margin: 10px">
            显示边框 <i-switch v-model="showBorder" style="margin-right: 5px"></i-switch>
            显示条纹 <i-switch v-model="showStripe" style="margin-right: 5px"></i-switch>
            显示索引 <i-switch v-model="showIndex" style="margin-right: 5px"></i-switch>
            显示多选框 <i-switch v-model="showCheckbox" style="margin-right: 5px"></i-switch>
            显示表头 <i-switch v-model="showHeader" style="margin-right: 5px"></i-switch>
            显示滚动条 <i-switch v-model="fixedHeader" style="margin-right: 5px"></i-switch>
            <br>
            <br>
            表格大小
            <Radio-group v-model="tableSize" type="button">
                <Radio label="large">大</Radio>
                <Radio label="default">中(默认)</Radio>
                <Radio label="small">小</Radio>
            </Radio-group>
        </div>
        <i-table :border="showBorder" :stripe="showStripe" :show-header="showHeader" :height="fixedHeader ? 300 : ''"
            :size="tableSize" :data="tableData3" :columns="tableColumns3" @on-row-dblclick="dblclick" @on-row-click="show"></i-table>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: function () {
                return {
                    tableData3: [
                        {
                            name: 'John Brown',
                            age: 18,
                            address: 'New York No. 1 Lake Park',
                            date: '2016-10-03'
                        },
                        {
                            name: 'Jim Green',
                            age: 24,
                            address: 'London No. 1 Lake Park',
                            date: '2016-10-01'
                        },
                        {
                            name: 'Joe Black',
                            age: 30,
                            address: 'Sydney No. 1 Lake Park',
                            date: '2016-10-02'
                        },
                        {
                            name: 'Jon Snow',
                            age: 26,
                            address: 'Ottawa No. 2 Lake Park',
                            date: '2016-10-04'
                        },
                        {
                            name: 'John Brown',
                            age: 18,
                            address: 'New York No. 1 Lake Park',
                            date: '2016-10-03'
                        },
                        {
                            name: 'Jim Green',
                            age: 24,
                            address: 'London No. 1 Lake Park',
                            date: '2016-10-01'
                        },
                        {
                            name: 'Joe Black',
                            age: 30,
                            address: 'Sydney No. 1 Lake Park',
                            date: '2016-10-02'
                        },
                        {
                            name: 'Jon Snow',
                            age: 26,
                            address: 'Ottawa No. 2 Lake Park',
                            date: '2016-10-04'
                        }
                    ],
                    showBorder: true,
                    showStripe: true,
                    showHeader: true,
                    showIndex: true,
                    showCheckbox: false,
                    fixedHeader: false,
                    tableSize: 'default'
                }
            },
            computed: {
                /*计算表头展示的列*/
                tableColumns3() {
                    let columns = [];
                    if (this.showCheckbox) {
                        columns.push({
                            type: 'selection',
                            width: 60,
                            align: 'center'
                        })
                    }
                    if (this.showIndex) {
                        columns.push({
                            type: 'index',
                            width: 60,
                            align: 'center'
                        })
                    }
                    columns.push({
                        title: 'Date',
                        key: 'date',
                        sortable: true/*是否可以排序的??*/
                    });
                    columns.push({
                        title: 'Name',
                        key: 'name'
                    });

                    columns.push({
                        title: 'Age',
                        key: 'age',
                        sortable: true,
                        /*过滤器*/
                        filters: [
                            {
                                label: 'Greater than 25',
                                value: 1
                            },
                            {
                                label: 'Less than 25',
                                value: 2
                            }
                        ],
                        filterMultiple: false,
                        filterMethod(value, row) {
                            if (value === 1) {
                                return row.age > 25;
                            } else if (value === 2) {
                                return row.age < 25;
                            }
                        }
                    });
                    columns.push({
                        title: 'Address',
                        key: 'address',
                        /*展示过滤器的*/
                        filters: [
                            {
                                label: 'New York',
                                value: 'New York'
                            },
                            {
                                label: 'London',
                                value: 'London'
                            },
                            {
                                label: 'Sydney',
                                value: 'Sydney'
                            }
                        ],
                        filterMethod(value, row) {
                            return row.address.indexOf(value) > -1;
                        }
                    });

                    columns.push({
                        title: 'Action',
                        key: 'action',
                        width: 200,
                        align: 'center',
                        /*自定义展示的*/
                        render: (h, params) => {
                            var btns = [];

                            btns.push(h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show(params.index)
                                        }
                                    }
                                }, '编辑'),);

                            btns.push(h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },                                    
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.remove(params.index)
                                        }
                                    }
                                }, '删除'));

                            /*根据条件展示按钮的*/
                            if(params.index > 3){
                                btns.push(h('Button', {
                                        props: {
                                            type: 'error',
                                            size: 'small'
                                        },
                                        on: {
                                            click: () => {
                                                this.remove(params.index)
                                            }
                                        }
                                    }, '删除22222'));
                            }

                            return h('div', btns);
                        }
                    });
                    return columns;
                }
            },
            methods:{
                dblclick:function(data,index){
                    console.log(data);
                    console.log(index);

                    if(window.self !== window.top){
                        var goods = { label: "商品管理", name: "4-1", href: "pages/goods/goods/info.html", icon: "md-list", closable: true };
                        goods.name = goods.href;
                        window.parent.vm.handleMenuClick(goods);
                    }
                },
                show:function(data,index){
                    console.log(data);
                    //console.log(this.tableData3[index]);
                },
                /*删除数据的*/
                remove:function(index){
                    console.log(this.tableData3[index]);
                    //delete this.tableData3[index];
                    this.tableData3.splice(index, 1);
                }
            }
        });
    </script>
</body>
</html>