<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>商品列表的</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/iview/iview-3.1.0/styles/iview.css" />

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/vxe-table/lib/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vxe-table-plugin-iview@1.1.1/dist/style.min.css">


    <script src="../../../assets/vue/vue-2.5.17.min.js"></script>
    <script src="../../../assets/iview/iview-3.1.0/iview.min.js"></script>

    <!-- 引入脚本 -->
    <script src="https://unpkg.com/xe-utils"></script>
    <script src="https://unpkg.com/vxe-table"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table-plugin-iview@1.1.1/dist/index.min.js"></script>
</head>

<body>
    <div id="app">
<!--         <div style="margin: 10px">
            显示边框 <i-switch v-model="showBorder" style="margin-right: 5px"></i-switch>
            显示条纹 <i-switch v-model="showStripe" style="margin-right: 5px"></i-switch>
            显示索引 <i-switch v-model="showIndex" style="margin-right: 5px"></i-switch>
            显示多选框 <i-switch v-model="showCheckbox" style="margin-right: 5px"></i-switch>
            显示表头 <i-switch v-model="showHeader" style="margin-right: 5px"></i-switch>
            显示滚动条 <i-switch v-model="fixedHeader" style="margin-right: 5px"></i-switch>
            <br>
            <br>
            表格大小
            <Radio-group v-model="tableSize" type="button">
                <Radio label="large">大</Radio>
                <Radio label="default">中(默认)</Radio>
                <Radio label="small">小</Radio>
            </Radio-group>
        </div>
        <i-table :border="showBorder" :stripe="showStripe" :show-header="showHeader" :height="fixedHeader ? 300 : ''"
            :size="tableSize" :data="tableData3" :columns="tableColumns3"></i-table> -->


        <vxe-table
          border
          show-overflow
          class="vxe-table-iview"
          height="600"
          :loading="loading"
          :data.sync="tableData"
          :edit-config="{key: 'id', trigger: 'click', mode: 'cell'}">
          <vxe-table-column type="selection" width="60"></vxe-table-column>
          <vxe-table-column type="index" title="Number" width="80"></vxe-table-column>
          <vxe-table-column field="name" title="Input" min-width="140" :edit-render="{name: 'Input'}"></vxe-table-column>
          <vxe-table-column field="role" title="AutoComplete" min-width="160" :edit-render="{name: 'AutoComplete', props: {data: restaurants, filterMethod: roleFilterMethod}}"></vxe-table-column>
          <vxe-table-column field="age" title="InputNumber" width="140" :edit-render="{name: 'InputNumber', props: {max: 35, min: 18}}"></vxe-table-column>
          <vxe-table-column field="sex" title="Select" width="140" :edit-render="{name: 'Select', options: sexList}"></vxe-table-column>
          <vxe-table-column field="sex1" title="Select" width="140" :edit-render="{name: 'Select', options: sexList, props: {multiple: true, clearable: true}}"></vxe-table-column>
          <vxe-table-column field="sex2" title="Select" width="140" :edit-render="{name: 'Select', options: sexList, optionGroups: sexGroupList, props: {clearable: true}}"></vxe-table-column>
          <vxe-table-column field="region" title="Cascader" width="200" :edit-render="{name: 'Cascader', props: {data: regionList}}"> </vxe-table-column>
          <vxe-table-column field="date" title="DatePicker" width="200" :edit-render="{name: 'DatePicker', props: {type: 'date', format: 'yyyy/MM/dd'}}"></vxe-table-column>
          <vxe-table-column field="date2" title="TimePicker" width="200" :edit-render="{name: 'TimePicker', props: {type: 'time'}}"></vxe-table-column>
          <vxe-table-column field="flag" title="iSwitch" width="100" :edit-render="{name: 'iSwitch', type: 'visible'}"></vxe-table-column>
          <vxe-table-column field="rate" title="Rate" width="200" :edit-render="{name: 'Rate', type: 'visible'}"></vxe-table-column>
        </vxe-table>
      
    </div>
    <script type="text/javascript">
        var vm = new Vue({
              el: "#app",
              data () {
                return {
                  loading: false,
                  tableData: [],
                  sexList: [],
                  regionList: [],
                  sexGroupList: [
                    {
                      label: '分组1',
                      options: [
                        {
                          label: '男',
                          value: '1'
                        }
                      ]
                    },
                    {
                      label: '分组2',
                      options: [
                        {
                          label: '女',
                          value: '0'
                        }
                      ]
                    }
                  ]
                }
              },
              created () {
                //this.tableData = window.MOCK_DATA_LIST.slice(0, 100)
              },
              methods: {
                nameChangeEvent ({ row }, event) {
                  console.log(event)
                }
              }
        });
    </script>
</body>

</html>